body{
    margin: 0px;
    padding: 0px;
}
.container-fluid{
    margin: 0px;
    padding: 0px;
}

hr.main{
    width: 30%;
    margin-left:35%;
    margin-top:20px;
    margin-bottom:60px;
}

hr.box{
    /* border: 2px dashed black; */
    border-top: 2px dashed gray;
    width: 90%;
    margin-left: 5%;
}

.bg{
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg h2{
    color: aliceblue;
    font-size: 3.5rem;
    text-align: center;
    font-weight:900;
    font-family:"Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
    margin-left: 20px;
    margin-right: 20px;
}
.bg button{
    background:transparent;
    color:white;
    margin-top: 5%;
    margin-bottom:0px;
    padding:1%;
    width:150px;
    font-size:15px;
    border-radius:5px;
    border:1px solid white;
}
.bg p{
    display: flex;
    justify-content: center;
}

.container-lg{
    display: flex;
    justify-content: space-around;
}
.container-lg img{
    height: 200px;
}
.title{
    font-size:22px;
    text-align: center;
    padding-top:30px;
    font-weight:700;
}


.cool {
    margin: 20px 0px;
    color: #555555;
    font-size: 1.5em;
    font-weight: 650;
}

.item img {
    width: 90%;
    margin-left: 5%;

}

.item {
    position: relative;
    width: 40%;
}

.item p {
    text-align: center;
    color: #666464; 
    font-weight:600;
    font-size:large;
    margin-top:20px
}

.total {
    margin-left: 6%;
    margin-right: 6%;
}

.total img{
    width: 90%;
    height: 300px;
}
.r {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0px;
}

.r2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0px;
}

.logos img {
    height: 70px;
}

.logos {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

footer{
    background-color: #2F2F2F;
    color:whitesmoke;
    padding-top:30px;
    padding-top:40px
}
.z{
    text-align: center;
    font-size:1.1em;
    margin:0px 250px;
    padding-bottom:100px;
    font-family:sans-serif;
    line-height: 1.5;
}







@media screen and (max-width:1000px) {
    .container-lg{
        display: block;
    }
    
    .part{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .part p{
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media screen and (min-width:1000px) {
    .bg{
        padding-left: 200px;
        padding-right: 200px;
    }
    .part p{
        margin-right: 50px;
    }
}
@media screen and (max-width:300px) {
    .container-lg img{
        height: 100px;
    }
    .title{
        font-size:15px;
    }
    .part p{
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media screen and (max-width:900px) {
    .logos{
        display: block;
    }
    .logos p{
        text-align: center;
    }
    .r{
        display: block;
    }
    .r2{
        display: block;
    }
    .item{
        width: 100%;
        text-align: center;
    }
    .item img{
        width: 300px;
    }
    .logos img{
        width: 250px;
    }
    .z{
        margin: 0px 150px;
    }
}

@media screen and (max-width:800px) {
    body{
        background-color: black;
    }
    .bg h2{
        font-size: 40px;
    }
    .z{
        margin: 0px 50px;
    }
}


@media screen and (max-width:350px) {
    .logos img{
        width: 200px;
    }
    .item img{
        height: 200px;
        width: 200px;
    }
    .bg h2{
        font-size: 25px;
    }
}
@media screen and (max-width:350px) {
    .item img{
        height: 150px;
        width: 150px;
    }
    .logos img{
        width: 150px;
    }
    .bg h2{
        font-size: 20px;
    }
    .z{
        font-size: 15px;
        margin: 0px 15px;
    }
}